/*!
 * Wang Zihao
 * wzhjay@gmail.com
 * 02.05.2014
 */

body {
margin: 0;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 22px;
color: #869690;
background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
margin: 11px 0;
font-family: inherit;
font-weight: 300;
line-height: 22px;
color: inherit;
text-rendering: optimizelegibility;
}

.highlight {
padding: 9px 14px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

.loading {
height: 100px;
background-image: url("../img/loading.gif");
background-repeat:no-repeat;
background-position: center center;
}

/*  header  */
/*  nav bae  */
.navbar-default {
background-color: #ffffff;
border-color: #e7e7e7;
}

#top-nav.navbar .nav > li > a {
font-family: inherit;
padding: 6px 12px;
margin: 0px;
text-transform: uppercase;
font-weight: 400;
font-size: 16px;
-webkit-transition: background-color 200ms ease;
-moz-transition: background-color 200ms ease;
-o-transition: background-color 200ms ease;
transition: background-color 200ms ease;
}

.navbar .nav > li > a {
float: none;
color: #869690;
text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #3fbf79;
background-color: transparent;
}

.nav > li > a {
display: block;
}

.navbar-default .navbar-brand:hover {
color: #3fbf79;
}

.navbar-collapse .nav > li{
width: inherit;
text-align: center;
color: #777777;
}

/*  footer  */
#footer {
margin-top: 50px;
margin-bottom: 50px;
padding: 20px 0px;
background: #f3f3f3;
text-align: center;
position: relative
}

/*  banner carousel */
#sims-banner .item img{
    display: block;
    width: 100%;
    height: auto;
}

/* masthead */

.sims-docs-header .container {
position: relative;
}

.sims-docs-header h1, .sims-docs-header p {
text-align: right;
}

.sims-docs-header h1 {
font-size: 40px;
line-height: 1;
}

.sims-docs-header h1 {
margin-top: 0;
color: #fff;
}

.sims-docs-header p {
margin-bottom: 40px;
font-weight: 300;
line-height: 1.4;
}

#sims-students-tabs {
margin-top: -66px;
position: relative;
}

#tabs > ul > li {
list-style:none;
}

.tab_container {
padding-right: 40px;
margin-top: 60px;
width: 100%;
}

.sims-docs-header {
margin-bottom: 10px;
font-size: 24px;
margin-top: 30px
}

/* students */

#sims-students-header {
position: relative;
padding: 30px 15px;
color: #cdbfe3;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #6f5499;
background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5480 100%);
background-image: linear-gradient(to bottom,#563d7c 0,#6f5480 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}

#reg_datepicker {
	width: 100%;
}	

/* classes */

#sims-classes-header {
position: relative;
padding: 30px 15px;
color: #C3E7E0;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #16a085;
background-image: -webkit-linear-gradient(top,#16a085 0,#16a050 100%);
background-image: linear-gradient(to bottom,#16a085 0,#16a050 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}

#sims-classes-tabs {
margin-top: -66px;
position: relative;
}

/* exams */

#sims-exams-header {
position: relative;
padding: 30px 15px;
color: #F0E0D4;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #e67e22;
background-image: -webkit-linear-gradient(top,#e67e22 0,#f39c12 100%);
background-image: linear-gradient(to bottom,#e67e22 0,#f39c12 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}

#sims-exams-tabs {
margin-top: -66px;
position: relative;
}

/* atos */

#sims-atos-header {
position: relative;
padding: 30px 15px;
color: #E0CDBB;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #E74C3C;
background-image: -webkit-linear-gradient(top,#E74C3C 0,#C0392B 100%);
background-image: linear-gradient(to bottom,#E74C3C 0,#C0392B 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}

#sims-atos-tabs {
margin-top: -66px;
position: relative;
}

/* financial */

#sims-financial-header {
position: relative;
padding: 30px 15px;
color: #AFC4D3;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #34495e;
background-image: -webkit-linear-gradient(top,#34495e 0,#506377 100%);
background-image: linear-gradient(to bottom,#34495e 0,#506377 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}

#sims-financial-tabs {
margin-top: -66px;
position: relative;
}

/* system */

#sims-system-header {
position: relative;
padding: 30px 15px;
color: #D1F0F0;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #2980b9;
background-image: -webkit-linear-gradient(top,#2980b9 0,#3498DB 100%);
background-image: linear-gradient(to bottom,#2980b9 0,#3498DB 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}

#sims-system-tabs {
margin-top: -66px;
position: relative;
}


/* tab content */

.tab_content {
margin-top: 14px;
position: relative;
padding-left: 40px;
padding-right: 40px;
}

.tab_content a {
color: #fff;
font-weight: 100;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tab-content > .tab-pane {
padding-top: 50px;
}

.nav-tabs {
border-bottom: none;
}

.row {
padding-bottom: 15px;
}

.form-control {
height: 28px;
font-size: 13px;
}

.highlight a {
	color: #666666;
	text-decoration: none;
	cursor: pointer;
}

label {
	font-weight: 200;
}

.parsley-errors-list li {
	color: #F86E6E;
	font-weight: 200;
}

#system_all_admin_table_body > tr > th {
	font-weight: 200;
}

#system_search_admin_table_body > tr > th {
	font-weight: 200;
}

#reg_search_results_table_body > tr > th {
	font-weight: 200;
}

.modal-lg {
width: 900px;
}

.modal-xlg {
width: 1100px;
}

.modal-xxlg {
width: 100%;
}

.modal-dialog a {
color: #666666;
text-decoration: none;
cursor: pointer;
}

select[multiple], select[size] {
height: 350px;
overflow-y: scroll; 
}

#class_search_class_student_management_class_section #class_all_students_list {
height: 470px;
overflow-y: scroll; 
}

#class_search_class_student_management_search_section {
	height: 400px;	
}

#class_search_class_student_management_middle_section {
margin-top: 150px;
}

#class_search_class_student_management_middle_section .btn {
margin-left: -22px;
}

#class_search_class_student_management_search_section .tab-content > .tab-pane {
padding-top: 20px;
}

#class_search_class_student_management_class_section .panel-title {
font-size: 14px;
}

#class_search_class_student_management_class_section .h6 {
line-height: none;
}

#class_all_students_list .panel-body .row{
font-size: 12px;
line-height:none;
padding-bottom: 0px;
}

/*  ============ exams =========== */

#exam_seat_booking_calendar {
min-width:1000px
}

#exam_seat_booking_calendar_section_highlight {
min-width:1060px	
}

#exam_seat_booking_calendar > div > table > thead > tr > th {
height: 40px;
width: 140px;
text-align: center;
}

#exam_seat_booking_calendar > div > table > tbody > tr > td {
height: 150px;
width: 140px;
}

.booking_date_this_month table {
margin-bottom:0;
}

#exam_booking_calender_date_table tr td .form-control {
padding: 0;
text-align: center;
}

.booking_date_this_month .row{
padding: 3px;
}

.exam_seat_booking_on_off table input{
background: rgb(228, 228, 228);
}

.cal_days_bef_aft {
background: rgb(246, 248, 240);
}

.bs-callout {
font-size: 13px;
padding: 10px 10px 10px 10px;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
margin-bottom: 10px;
}

.bs-callout-info {
border-left-color: #5bc0de;
}
